footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(135, 146, 32);
    color: white;
    text-align: center;
    font-family: fantasy;
    height: 60px;
  }